* {
    padding: 0;
    margin: 0;
    color: white;
}
body {
    overflow-x: hidden;
}
.link_left {
    padding-left: 2vh;
    padding-bottom: 2vh;
    border-bottom: .1vh solid white;
    color: white;
    transition: 0.2s;
}


.link_left:hover {
    font-size: 2vh ;
    opacity: .5;
    color: red;
}


.off {
    margin-left: -16%;
    transition-property: margin-left;
    transition-duration: 1s;
}

.on {
    visibility: visible;
    transition-property: margin-left;
    margin-left: 0%;
    transition-duration: 1s;
}

.progress_bar_div {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 3vh;
    height: 3vh;
    min-width: 15vh;
}
.progress_bar {
    width: 100%;
    height: 2.5vh;
    background-color: #ddd;
    border-radius: 5vh;

}

.progess_bar_green {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5vh;
}

.div_main_frame {
    background: rgba(0, 11, 37, 0.35);
    border-radius: 2%

}

.menu {

}


#mf-row2 {
    margin-left: 2%;
    min-width: 10vh;
}
#mf-row3 {
    margin-left: 2%;
    min-width: 10vh;
}

.warning {
    color: red;
}

::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
}

::-webkit-scrollbar-thumb {
    background-color: #000b25;

    border-radius: 1vh;
}

::-webkit-scrollbar-track {
    background-color: #ffffff0d;
    border-radius: 1vh;
}

.poster {
    height:100%;
    border-radius: 7%;
    transition: 0.1s;
}
.poster:hover {
    transition: 0.1s;
    opacity: 70%;

}

.show_title {
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.re_date {
    color: rgba(255, 255, 255, 0.5);
}

.div_show {

    text-align: left;
    height: 30%;
    width: 100%;


}

.selected {
    font-family: auto;
}

.selected_show {
    opacity: 0.5;
}

#search {
    background: #172138;
    margin: 1%;
    border: 1px solid white;
    width: 70%;
    height: 50%;
    font-size: x-large;
}

#seach_bar {
    margin-left: 27%;
    width: 30%;
    height: 10%;
}

#result {
    margin: auto;
    width: 50%;

}

#main_frame {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.size {
    height: 100vh;
    margin-left: 1%;
    margin-top: 7%;
    width: 20vh;
}


