.menu_box {
    width: 10%;
    border-right: 0.2vh solid #c708c7;
    background: #131212;
}

.menu {
    list-style: none;
}

.menu_item {
    width: 100%;
    height: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 0.1vh solid #c708c7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item:hover {
    transition: .5s;
    background: #c708c7;
    color: black;
}

.menu-sub-item {
    color: inherit;
}