<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="../static/header.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/dashboard.css">
  <link rel="stylesheet" href="../static/menue.css">
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

<div id="main_box" class="main_box">
  <div id="header" class="header">
    Dashboard
  </div>
  <div id="main_page" class="main_page">
    <div id="menu_box" class="menu_box">
      <ul class="menu">
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            Home
          </li>
        </a>
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            Add file
          </li>
        </a>
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            stat
          </li>
        </a>
      </ul>
    </div>
    <div id="dashboard_box" class="dashboard_box">

      <div class="dashboard_left_box">
        <div class="disk_usage_box" id="disk_usage_box">
          <div class="box_title">
              <h3>Disk Usage</h3>
          </div>
          <div class="disk_display_box" id="disk_display_box">

            <div class="disk_box">
              <div class="disk_title">
                Anime :
                <div class="disk_fill_stat">
                  10mo/10To
                </div>
              </div>
              <div class="progress_bar" id="disk_bar_anime">
                <div class="progress" id="disk_progress_anime">

                </div>
              </div>
            </div>

            <div class="disk_box">
              <div class="disk_title">
                Show :
                <div class="disk_fill_stat">
                  10mo/10To
                </div>
              </div>
              <div class="progress_bar" id="disk_bar_show">
                <div class="progress" id="disk_progress_show">

                </div>
              </div>
            </div>

            <div class="disk_box">
              <div class="disk_title">
                Movie :
                <div class="disk_fill_stat">
                  10mo/10To
                </div>
              </div>
              <div class="progress_bar" id="disk_bar_movie">
                <div class="progress" id="disk_progress_movie">

                </div>
              </div>
            </div>

          </div>
          <div class="disk_stat_anishowmov">
            <h5>Répartition : </h5>
            <div class="progress_bar" id="disk_bar_stat">

                <div class="progress" id="disk_progress_stat_anime">

                </div>
              <div class="progress" id="disk_progress_stat_show">

                </div>
              <div class="progress" id="disk_progress_stat_movie">

                </div>
              </div>
            <ul id="disk_repartion_list">
              <li class="disk_repartion_item" id="disk_repartion_anime">
                Anime
              </li>
              <li  class="disk_repartion_item" id="disk_repartion_show">
                Show
              </li>
              <li  class="disk_repartion_item" id="disk_repartion_movie">
                Movie
              </li>

            </ul>
          </div>
        </div>

        <div class="cpu_temp_box" id="cpu_temp_box">
          <div class="box_title">
            cpu temp
          </div>
          <div class="cpu_temp_display_box">
            <h4 class="temp_designation">Current :</h4>
            <div class="cpu_temp" id="cpu_temp_current">
              33deg
            </div>
            <h4 class="temp_designation">Average :</h4>
            <div class="cpu_temp" id="cpu_temp_avg">
              36deg
            </div>
          </div>
          <div class="cpu_temp_current">
            <div></div>
          </div>
        </div>

      </div>

      <div class="dashboard_center_box">
        <div class="center_main_box" id="center_main_box">
            <div class="main_upper_box" id="main_upper_box">
              <div class="main_log_box">
                  <div class="box_title">
                    Logs
                  </div>
                <div class="div_scroll_bar" id="log_box">
                  <ul class="list_log" id="list_log">
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>
                    <li><a href="#">2022-03-15.log</a> </li>

                  </ul>
                </div>
              </div>
              <div class="main_schedule_box" id="main_schedule_box">
                  <div class="box_title">
                    Schedule
                  </div>
                <div class="schedule_box div_scroll_bar">

                  <div class="schedule_item_default">
                    <img src="../static/Default_poster.jpg" class="schedule_poster">

                    <div class="schedule_desc">
                      <div class="schedule_title_type">
                          <h4 class="schedule_title">Oshi no Ko</h4>
                          <h5 class="schedule_type">Type : Anime</h5>
                      </div>
                      <h5 class="schedule_genre">Genre : Horror, slice of life</h5>
                      <h5 class="schedule_release_date">Relaese on : 2022-03-15</h5>
                    </div>
                  </div>

                  <div class="schedule_item_default">
                    <img src="../static/Default_poster.jpg" class="schedule_poster">

                    <div class="schedule_desc">
                      <div class="schedule_title_type">
                          <h4 class="schedule_title">Oshi no Ko</h4>
                          <h5 class="schedule_type">Type : Anime</h5>
                      </div>
                      <h5 class="schedule_genre">Genre : Horror, slice of life</h5>
                      <h5 class="schedule_release_date">Relaese on : 2022-03-15</h5>
                    </div>
                  </div>

                  <div class="schedule_item_default">
                    <img src="../static/Default_poster.jpg" class="schedule_poster">

                    <div class="schedule_desc">
                      <div class="schedule_title_type">
                          <h4 class="schedule_title">Oshi no Ko</h4>
                          <h5 class="schedule_type">Type : Anime</h5>
                      </div>
                      <h5 class="schedule_genre">Genre : Horror, slice of life</h5>
                      <h5 class="schedule_release_date">Relaese on : 2022-03-15</h5>
                    </div>
                  </div>

                  <div class="schedule_item_default">
                    <img src="../static/Default_poster.jpg" class="schedule_poster">
                    <div class="schedule_desc">
                      <div class="schedule_title_type">
                          <h4 class="schedule_title">Oshi no Ko</h4>
                          <h5 class="schedule_type">Type : Anime</h5>
                      </div>
                      <h5 class="schedule_release_date">Relaese on : 2022-03-15</h5>
                      <h5 class="schedule_genre">Horror, slice of life</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main_services_box" id="main_services_box">

                  <div class="box_title">
                      Services
                    </div>

                <div class="services_box">

                  <div class="service">
                    <img src="../static/link_logo_default.jpg" class="service_logo">

                    <div class="service_desc">jellyfin (Netflix-like)</div>
                  </div>

                  <div class="service">
                    <img src="../static/link_logo_default.jpg" class="service_logo">
                    <div class="service_desc">Video-converter (based on Handbrake)</div>
                  </div>

                </div>

                <div class="box_title" id="links_title">
                      Links
                    </div>
                <div class="service">
                    <img src="../static/link_logo_default.jpg" class="service_logo">
                    <div class="service_desc">Video-converter (based on Handbrake)</div>
                  </div>
                <div class="service">
                    <img src="../static/link_logo_default.jpg" class="service_logo">
                  <div class="service_desc">
                    <a href="#">Github</a>
                  </div>
                  </div>

              </div>
            </div>
          <div class="main_bottom_box">
            <div class="main_bottom_stat_box">
                <h5 class="nb" id="nb_show">Number of show : 450</h5>
                <h5 class="nb" id="nb_anime">Number of Anime : 450</h5>
                <h5 class="nb" id="nb_movie">Number of Movie : 450</h5>
            </div>
            <div class="main_bottom_graph_box">
                <div class="chart" id="chart_show">
                    <div class="sector" id="completed_show"></div>
                    <div class="sector" id="uncompleted_show"></div>
                </div>

              <div class="chart" id="chart_Anime">
                    <div class="sector" id="completed_anime"></div>
                    <div class="sector" id="uncompleted_anime"></div>
                </div>
            </div>
          </div>
        </div>
        <div class="center_sub_box" id="center_sub_box">
            kkkkkk
        </div>
      </div>
      <div class="dashboard_right_box">
        right
      </div>
    </div>

  </div>
</div>
</body>
</html>