<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="main_box" class="main_box">
        <div id="header" class="header">
            <h1>Server web UI</h1>
        </div>
        <div id="main_page" class="main_page">
            <div id="login_box" class="login_box">
                <img src="{{ url_for('static', filename='banner-light.png') }}" alt="Logo" class="logo_login"><br> <!-- replace banner with template -->
                <form action="/login" method="POST" class="login_form">
                    <div class="login_input_box">
                        <label for="username">Username :</label><br>
                        <input type="text" name="username" id="username" class="login_txt_input"><br>
                    </div>
                    <div class="login_input_box">
                        <label for="password">Password :</label><br>
                        <input type="password" name="password" id="password" class="login_txt_input">
                    </div>

                    <input type="submit" value="Connect" class="login_submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>