<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="../static/header.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/menue.css">
  <link rel="stylesheet" href="../static/upload.css">
    
    <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

<div id="main_box" class="main_box">
  <div id="header" class="header">
    Dashboard
  </div>
  <div id="main_page" class="main_page">
    <div id="menu_box" class="menu_box">
      <ul class="menu">
        <a href="/dashboard" class="menu_item">
          <li class="menu-sub-item">
            Home
          </li>
        </a>
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            Add file
          </li>
        </a>
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            stat
          </li>
        </a>
      </ul>
    </div>
    <div class="upload_page">

        <div class="choose_upload_box">
            hello
        </div>

    </div>

  </div>
</div>


</body>
</html>