<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="stylesheet" href="../static/header.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/menue.css">
  <link rel="stylesheet" href="../static/upload.css">
    
    <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

<div id="main_box" class="main_box">
  <div id="header" class="header">
    Dashboard
  </div>
  <div id="main_page" class="main_page">
    <div id="menu_box" class="menu_box">
      <ul class="menu">
        <a href="/dashboard" class="menu_item">
          <li class="menu-sub-item">
            Home
          </li>
        </a>
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            Add file
          </li>
        </a>
        <a href="#" class="menu_item">
          <li class="menu-sub-item">
            stat
          </li>
        </a>
      </ul>
    </div>
    <div class="upload_page" >
      <div class="loading off" id="loadind">
        <div class="large_load_circle">
          <div class="small_load_circle">

          </div>
        </div>
        Uploading please wait ...
      </div>

        <div class="choose_upload_box" id="choose_upload_box">
            <form  enctype="multipart/form-data" action="{{ api_url }}/upload" id="up_form" method="post">
            <ul>
              <li>
                <label for="up_choice_anime">Anime</label>
                <input type="radio" name="up_choice" id="up_choice_anime" value="anime">
              </li>
              <li>
                <label for="up_choice_show">Show</label>
                <input type="radio" name="up_choice" id="up_choice_show" value="show">
              </li>
              <li>
                <label for="up_choice_movie">Movie</label>
                <input type="radio" name="up_choice" id="up_choice_movie" value="movie" checked>
              </li>
              <li>
                <label for="up_choice_encode">Re-encode</label>
                <input type="radio" name="up_choice" value="encode" id="up_choice_encode" >
              </li>
            </ul>
            <input type="file" id="fileInput" name="file">
            </form>
            <div class="div_upload_prog">


                <button id="bt_up">Upload</button>

              
            </div>

        </div>

    </div>

  </div>
</div>

<script>
    const API_URL = "{{ api_url }}"
    const form = document.getElementById("up_form")
    const bt = document.getElementById("bt_up")
    const load = document.getElementById("loadind")



    bt.addEventListener("click", function (event) {
        load.classList.remove("off")
        load.classList.add("on")
        let newform = new FormData(form)

        fetch(API_URL+"/upload", {
        method: "POST",
        body: newform})
            .then(response => {
                load.classList.remove("on")
                load.classList.add("off")
            })
                .catch(error => {
                  document.getElementById("choose_upload_box").textContent = "An error occured"

                })

    })

</script>


</body>
</html>